<header class="navbar">
    <div class="container nav-container">
        <a href="/" class="logo">
            Coach<span>Pro</span>
        </a>
        
        <div class="nav-links">
            <!-- User Dropdown or Profile Link -->
            {%if user_role == 2 %}
                <a href="{{url('/coach/profile')}}" class="nav-link">
                    <i class="fa-solid fa-user-circle"></i> Profile
                </a>
            {% else %}
                <a href="{{url('/sportif/profile')}}" class="nav-link">
                    <i class="fa-solid fa-user-circle"></i> Profile
                </a>
            {% endif %}
            <a href="{{url('/logout')}}" class="nav-link text-gold">
                <i class="fa-solid fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</header>
